{% extends 'base.html' %}
{% load static %}
{% block main %}

  <!-- about section -->

  <section class="about_section layout_padding mt-5">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 col-lg-5 ">
          <div class="img-box">
            <img src="{% static 'images/img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Kitoblar
              </h2>
            </div>
            <p>

Yangi olamlarni o'zingiz uchun kashf eting!
            </p>
            <a href="{% url 'manager:home' %}">
              Qaytish
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
{% endblock main %}