{% load static %}
<!-- Design by foolishdeveloper.com -->
<title>Glassmorphism login Form Tutorial in html css</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<!--Stylesheet-->
<link rel="stylesheet" href="{% static 'css/login-register_style.css' %}">

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="post">
    {% csrf_token %}
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" name="username" id="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password" id="password">
    <span><a href="{% url 'manager:register' %}">don't have account</a></span>

    <button>Log In</button>
</form>

