{% extends 'manager/dashboard.html' %}
{% block content %}

<div class="container">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Title</th>
            <th>Edit | Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="fw-bold mb-1">{{ category.name }}</p>
                    </div>
                </div>
            </td>
            <td>
                <a href="{% url 'seller:edit_category' category.id %}" type="button" class="btn btn-outline-blue btn-sm btn-rounded">
                    Edit
                </a>

                <a href="{% url 'seller:delete_category' category.id %}" type="button" class="btn btn-outline-danger btn-sm btn-squared">
                    Delete
                </a>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock content %}
    </div>